.card {
  background-image: url("./img/card.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  grid-area: card;
  height: 500px;
  overflow: hidden;
  position: relative;
  width: 370px;
}

.card header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 55px;
  top: 82px;
  width: 82px;
}

.card header .rating {
  font-size: 32px;
}

.card header img {
  border-top: 1px solid rgba(255, 255, 255, .5);
  filter: drop-shadow(0 1px 12px rgba(255, 255, 255, .25));
  margin-top: 8px;
  padding-top: 12px;
  width: 36px;
}

.card header .position {
  margin-top: 6px;
  text-shadow: 0 1px 4px rgba(255, 255, 255, .4);
}

.text-kaleci {
  color: #ffca28;
}

.text-defans {
  color: #23d160;
}

.text-ortasaha {
  color: #2196f3;
}

.text-forvet {
  color: #f44336;
}

.card main img {
  position: absolute;
  left: 108px;
  top: 79px;
  width: 180px;
}

.card main h1 {
  position: absolute;
  top: 243px;
  width: 100%;
  text-align: center;
}

.card.legend main h1 {
  color: gold;
}

.card footer {
  position: absolute;
  left: 80px;
  bottom: 87px;
  width: 210px;
}

.card footer table {
  border-collapse: collapse;
  margin: auto;
  width: 95%;
}

.card footer table td {
  text-align: right;
  font-weight: bold;
}

.card footer table th {
  font-weight: normal;
  padding: 6px 8px;
  text-align: left;
}