body {
  background-color: #f5f5f5;
  font-family: "Rubik";
  margin: 0;
  padding: 24px;
}

.player-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

figure {
  margin: 0;
}

article {
  align-items: center;
  border-bottom: 1px dashed rgba(27, 27, 27, 0.2);
  color: #1B1B1B;
  display: inline-flex;
  justify-content: space-around;
  margin-bottom: 24px;
  min-width: 800px;
  position: relative;
  text-align: center;
  transition: 40ms ease-in;
  user-select: none;
  width: 80%;
}

article:hover {
  transform: scale(1.01);
}

img {
  pointer-events: none;
  user-select: none;
}

.picture {
  z-index: 2;
}

.rating {
  font-size: 180px;
  margin: 0;
  left: 160px;
  opacity: 0.1;
  position: absolute;
  top: -5px;
  z-index: 1;
}

.team {
  left: 0;
  position: absolute;
  top: 64px;
  z-index: -1;
}

.player-list .shape {
  fill-opacity:.95
}

.player-list .shape:hover {
  fill-opacity:.8
}

.player-list text {
  font-family: "Rubik";
}

@media screen and (min-width: 1600px) { 
  article {
    width: 40%;
  }
}