body {
  background-color: #f5f5f5;
  font-family: "Inter";
  margin: 0;
}

figure {
  margin: 0;
}

.player-list article {
  align-items: center;
  background: #1FA2FF;
  background: linear-gradient(to left, #A6FFCB, #12D8FA, #1FA2FF);
  border-radius: 4px;
  color: #fff;
  display: grid;
  grid-template-areas:
    "figure info graph"
    "figure skills graph";
  grid-template-columns: 2fr 3fr 1fr;
  justify-content: space-around;
  margin: 8px auto 8px;
  max-width: 1400px;
  text-align: center;
  transition: 100ms ease-in;
  user-select: none;
  width: 80%;
}

.player-list article:hover {
  transform: scale(1.01);
}

.player-list article .figure {
  grid-area: figure;
}

.player-list article .figure figure {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.player-list article .figure figure img:nth-child(2) {
  margin-left: 8px;
}

.player-list article .figure svg {
  margin: 4px 2px;
}

.player-list article .figure .teamoftheyear {
  align-items: center;
  border: 1px solid rgba(0 0 0 / 0.25);
  border-radius: 100%;
  display: inline-flex;
  height: 24px;
  justify-content: center;
  margin-top: 2px;
  padding: 4px;
  width: 24px;
}

.player-list article .info {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  grid-area: info;
  height: 100%;
  justify-content: flex-end;
  text-shadow: 0 1px 4px rgba(0 0 0 / 0.5);
}

.player-list article .info .name {
  color: #232526;
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.player-list article .skills {
  grid-area: skills;
}

.player-list article .skills table {
  font-size: 16px;
  margin: auto;
  text-align: left;
  text-shadow: 0 1px 4px rgba(0 0 0 / 0.5);
  width: 60%;
}

.player-list article .skills table td {
  padding-bottom: 8px;
  padding-top: 8px;
}

.player-list article .skills table td strong {
  margin-right: 4px;
}

.player-list article .graph {
  background: #232526; 
  background: linear-gradient(to right, #414345, #232526);
  grid-area: graph;
  padding: 36px 24px;
}

.graph .shape{fill-opacity:.95}
.graph .shape:hover{fill-opacity:.8}
.graph .caption {fill:#fff;text-shadow: none;}