body {
  background-color: #222;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  user-select: none;
}

.player-item {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 600px;
  opacity: .9;
  padding: 12px;
  text-decoration: none;
  transition: .3 ease-out;
  width: 80%;
}

.player-item:hover {
  opacity: 1;
  transform: scale(1.025);
}

.player-item h1 {
  font-size: 40px;
}

.kaleci {
  background-color: #ffca28;
}

.defans {
  background-color: #23d160;
}

.ortasaha {
  background-color: #2196f3;
}

.forvet {
  background-color: #f44336;
}

.graph {
  grid-area: graph;
}

.shape{fill-opacity:.95!important}
.shape:hover{fill-opacity:.8!important}

.info {
  grid-area: info;
}

.info > p {
  line-height: 1.7;
  margin-bottom: 24px;
  width: 90%;
}

.info .icons {
  align-items: center;
  display: inline-flex;
}

.info .icons .fa,
.info .icons strong {
  align-items: center;
  display: inline-flex;
  font-size: 24px;
  height: 40px;
  justify-content: flex-end;
  margin-right: 16px;
  width: 56px;
}

.info .icons p {
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
}

.info mark {
  background-color: #f3c42b;
  padding: 3px 1px;
}

.profile {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 380px auto;
  grid-template-rows: 340px auto;
  grid-template-areas: 
    "card graph"
    "card info";
  justify-content: center;
}
