.randomPlayer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  width: 100%;
}

.show {
  opacity: 1 !important;
}

.randomPlayer header .country,
.randomPlayer header .team,
.randomPlayer header .rating,
.randomPlayer header .position,
.randomPlayer main h1,
.randomPlayer main img,
.randomPlayer footer {
  opacity: 0;
  transition: .3s;
}

.randomPlayer .card {
  animation: scale 8s;
}

@keyframes scale {
  0% { opacity: 0; }
  25% { opacity: 1; }
  80% { transform: scale(1.2); }
}
